body {
    height: 100vh;
    background: black;
    margin: 0;

}

section{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.title{
    color: #FFFFFF;
    width: 100%;
    max-width: 850px;
    padding: 24px;
    font: small-caps bold 24px/1 sans-serif;
}
h1{

    font-size: 130px;
}
button{
    background: black;
    font-size: 20px;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    width: 100%;
    max-width: 850px;
    color: #ffffff;
    padding: 20px;
}
button:hover{
    background: #9999FF;
    opacity: 0.8;
}

/*Authorization*/

h2{
    color: black;
    width: 100%;
    max-width: 850px;
    text-align: center;
    font: small-caps 24px/1 sans-serif;
    font-size: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.form{
    width: 700px;
    height: 600px;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 20px
}
input{
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 35px;
    box-shadow: 0 0 15px 4px grey;
    width: 93%;
    height: 40px;
    border-radius: 20px;
    border: 5px;
    font-size: 20px;
}
.dha{
    float: right;
    margin-top: 40px;
    margin-right:20px;
    font-size: 20px;
    font: small-caps 19px/1 sans-serif;
}
/*Registration*/

.aha{
    float: right;
    margin-top: 20px;
    margin-right:20px;
    font-size: 20px;
    font: small-caps 19px/1 sans-serif;
}
/*Account*/

h3{
    font-size: 24px;
}

nav{
    width: 100%;
    display: flex;
    padding: 20px 0;
    justify-content: center;
}

nav button{
    display: inline-block;
    list-style: none;
    margin: 10px 0px;
    font-size: 24px;
    width: 400px;
    border-color: black;

}
